#section-contact{
    width: 100%; /* Limite de la pagina 1300*/
    height: 500px;
    background-color: #DFF6FF;
}
#contact-about{
    float: left;
    width: 30%; 
    height: 500px;   
}

#contact-form{
    float: left;
    width: 70%;
    height: 500px; 
    text-align: left;
}

#contact-about h3{
    font-family: 'Tiro Devanagari Marathi', serif;
    color: #06283D;
    text-align: center;
    font-size: 30px;   
    margin-top: 10px;
} 
#contact-about p{
    padding: 20px;
    font-size: 20px;
    font-family: 'Tiro Devanagari Marathi', serif;
    text-align: justify;
}

.input-name, .input-company {
    padding: 20px;
    width: 40%;
    float: left;
}

.input-email, .input-phone {
    padding: 20px;
    width: 40%;
    float: left;
}
.input-message{
    width: 50%;
    clear: both;
    padding: 20px;
    height: 50px;
}

form{
    padding: 10px;
}

label {
    font-size: 24px;
    display:block;
    margin-top:20px;
    letter-spacing:1px;
    font-family: 'Tiro Devanagari Marathi', serif;
}

input{
    width:300px;
    height:20px;
    border: 1px solid #06283D;
    padding:10px;
    margin-top:5px;
    color: #06283D;
    font-family: 'Tiro Devanagari Marathi', serif;
}
textarea{
    width: 750px;
    height: 70px;
    border: 1px solid #06283D;
    padding:10px;
    margin-top:5px;
    color: #06283D;
    font-family: 'Tiro Devanagari Marathi', serif;
}


