header{
    width: 100%;
    background-color: black;
    height: 90px;
 }
 
 nav{
     width: 95%;
     margin: auto;
     
 }
 
 nav img{
     width: 28%;
     height: 90px;
     float: left;
     box-sizing: border-box;   
 }
 
 nav ul{
     width: 72%;
     height: 90px;
     float: left;
     text-align: right;
     padding-top: 35px;
     box-sizing: border-box;
 }
 nav ul li{
     display: inline;
     font-family: 'Roboto Mono', monospace;
 }
 nav ul a{
     color: #c6eff6;
     font-size: 13px;
     text-transform: uppercase;
     padding-left: 15px;
     padding-top: 35px;
     box-sizing: border-box;   
 }
 nav ul a:hover{
     color: #60CEED;
 }