#section-project{
    width: 100%; /* Limite de la pagina 1300*/
    height: 800px;
    background-color: #DFF6FF;
}

#section-project  h2{
    font-size: 34px;
    padding: 30px;
    text-align: center;
}

#project-1,#project-3{
    float: left;
    width: 45%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-top: 30px;
} 
#project-2, #project-4{
    margin-top: 30px;
    float: right;
    width: 45%;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
} 

div img{
    width: 45%;
    height: 200px;
}

