@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#section-primary{
    background-color: #c6eff6;
    position: relative;
    display: inline-block;
    text-align: center;
}
#img-principal{
    width: 100%;
    opacity :0.8;
}
#section-primary h1{
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2.5px;
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}
#section-primary > p{
    position: absolute;
    color: white;
    top: 48%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

/** AREA DE SERVICIO */
#section-services, #section-work{
    background-color: #DFF6FF;
    width: 100%;
    height: 400px;
    
}
#container-card{   
    width: auto;
    height: auto;
    padding-left:80px;
    padding-right:80px;
}

.center-card{
    padding: 20px;
}

.card-services{
    float: left;
    width: 28%;
    margin: 10px;
    padding: 10px;
    border-radius: 15PX;
    border: 1px solid #06283D;
}

.card-services h3{
    font-family: 'Tiro Devanagari Marathi', serif;
    color: #06283D;
    text-align: center;
    font-size: 24px;    
    margin-top: 10px;
}

.card-services p{
    color: #06283D;
    text-align: center;
    padding: 20px;
}

.card-services a{
    width: 50%;
    display: block;
    padding: 2px;
    text-align: center;
    border-radius: 15PX;
    border: 2px solid #06283D;
    margin: auto;
}
.card-services a:hover{
    background-color: #06283D ;
    color: antiquewhite;
    width: 50%;
    display: block;;
    text-align: center;
    border-radius: 15PX;
    padding: 2px;
    border: 2px solid #06283D;}

/* ? AREA DE Cliente */

#card-gallery-client{   
    width: auto;
    height: auto;
    padding-left:20%;
    padding-right: 20%;}

#card-gallery-client img{
    display: block;
    padding: 30px;
    float: left;
    width: 180px;
    height: 180px;}

/* ? AREA de Trabajo */
#container-work{
    
}