@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
#section-primary{
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    text-align: center;
}
#img-principal{
    width: 100%;
    opacity :0.8;
}
#section-primary h1{
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2.5px;
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}
#section-primary > p{
    position: absolute;
    color: white;
    top: 48%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}


#container-card{
    margin: 30px;
}

.card-services{
    float: left;
    width: 31%;
    margin: 15px;
    border: 1px solid;
}
.clear-float{
    clear: both;
}
.card-services h3, p{
    text-align: center;
    margin-top: 10px;
}

.card-services a{
    display: block;
    text-align: right;
    margin-right: 5%;
}

#card-gallery-client{
    margin: 30px;
    border: 1px solid;
}
