/* Quitamos todo los bordes de la pagina  */
*{
   margin: 0;
   padding: 0; 
}

header{
   width: 100%;
   background-color: beige;
   height: 90px;
}

a{
    text-decoration: none;
}
nav{
    width: 90%;
    margin: auto;
}

nav h3{
    background-color: brown;
    width: 35%;
    height: 90px;
    padding-top: 35px;
    float: left;
    box-sizing: border-box;   
}

nav ul{
    background-color: blue;
    width: 65%;
    height: 90px;
    float: left;
    text-align: right;
    padding-top: 35px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
}
nav ul a{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 35px;
    box-sizing: border-box;   
}
