@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@1&display=swap');
*{
   margin: 0;
   padding: 0; 
}
a{
    text-decoration: none;
}
main{
    background-color: #c6eff6;
}

p{
    font-family: 'Tiro Devanagari Marathi', serif;
}

section > p{
    text-align: center;
    font-size: 28px;
    color: #4a4b4d;
}

section > h2{
    margin-top: 50px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
